
.sponsor-section {
  padding: 2rem;
  background-color: var(--cse-light-gray);
}

.sponsor-section h1 {
  font-family: var(--cse-title-font);
  color: var(--cse-green);
  font-size: var(--cse-subtitle-size);
  text-align: var(--cse-title-align);
  margin: var(--cse-title-margin);
}

.sponsor-section h2 {
  font-family: var(--cse-subtitle-font);
  color: var(--cse-subtitle-color);
  font-size: var(--cse-subtitle-size);
  text-align: var(--cse-subtitle-align);
  margin: var(--cse-subtitle-margin);
  padding-top: 4rem;
}

.sponsor-card p {
  font-family: var(--cse-body-font);
  color: var(--cse-black);
  font-size: var(--cse-body-size);
}

.sponsor-card .btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  background: var(--cse-green);
  color: var(--cse-white);
  border: none;
  border-radius: 6px;
  font-family: var(--cse-subtitle-font);
  font-size: var(--cse-subtitle2-size);
  font-weight: 600;
  text-align: var(--cse-subtitle-align);
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.sponsor-card .btn:hover {
  background: var(--cse-blue);
  color: var(--cse-white);
}

.sponsor-card .btn:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.sponsor-card:hover {
  transform: translateY(-5px);
}

/* Official Sponsors Section */
.sponsor-section-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin: 1rem auto 2rem auto;
}

.sponsor-section-1 .sponsor-card {
  background-color: var(--cse-white);
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsor-section-1 .sponsor-card img {
    width: 90%;
    max-width: auto;
    height: auto;
    margin-bottom: 0.75rem;
}

/* Visionary Sponsors Section */
.sponsor-section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 0 auto 2rem auto;
}

.sponsor-section-2 .sponsor-card {
  background-color: var(--cse-white);
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsor-section-2 .sponsor-card img {
    width: 90%;
    max-width: auto;
    height: auto;
    margin-bottom: 0.75rem;
}

/* Impact Sponsors Section */
.sponsor-section-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto 2rem auto;
}

.sponsor-section-3 .sponsor-card {
  background-color: var(--cse-white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsor-section-3 .sponsor-card img {
    width: 90%;
    max-width: auto;
    height: auto;
}

/* Ally Sponsors Section */
.sponsor-section-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto 2rem auto;
}

.sponsor-section-4 .sponsor-card {
  background-color: var(--cse-white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsor-section-4 .sponsor-card img {
    width: 90%;
    max-width: auto;
    height: auto;
}

/* Support Sponsors Section */
.sponsor-section-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto 2rem auto;
}

.sponsor-section-5 .sponsor-card {
  background-color: var(--cse-white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  width: 100%;
  max-width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsor-section-5 .sponsor-card img {
    width: 90%;
    max-width: auto;
    height: auto;
}